serveur/reservation-service/src/main/resources/reservation.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.univ-lyon1.fr/tiw/tiw1/cinema/reservation"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  name="ReservationService"
                  targetNamespace="http://www.univ-lyon1.fr/tiw/tiw1/cinema/reservation">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.univ-lyon1.fr/tiw/tiw1/cinema/reservation"
                   attributeFormDefault="unqualified"
                   elementFormDefault="qualified"
                   targetNamespace="http://www.univ-lyon1.fr/tiw/tiw1/cinema/reservation">
            <xs:element name="reserver">
                <xs:complexType>
                    <xsd:sequence>
                        <xs:element name="prenom" type="xs:string"/>
                        <xs:element name="nom" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="seance" type="xs:string"/>
                    </xsd:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="reservation-effectuee">
                <xs:complexType>
                    <xsd:sequence>
                        <xs:element name="id" type="xs:string"/>
                    </xsd:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="seance-complete">
                <xs:complexType>
                    <xsd:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xsd:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="seance-inconnue">
                <xs:complexType>
                    <xsd:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xsd:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="annuler-reservation">
                <xs:complexType>
                    <xsd:sequence>
                        <xs:element name="id" type="xs:string"/>
                    </xsd:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="reservation-annulee">
                <xs:complexType>
                    <xsd:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="reservation-inconnue">
                <xs:complexType>
                    <xsd:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xsd:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="reserver">
        <wsdl:part name="parameters" element="tns:reserver"/>
    </wsdl:message>
    <wsdl:message name="reserverResponse">
        <wsdl:part name="parameters" element="tns:reservation-effectuee"/>
    </wsdl:message>
    <wsdl:message name="seanceComplete">
        <wsdl:part name="parameters" element="tns:seance-complete"/>
    </wsdl:message>
    <wsdl:message name="seanceInconnue">
        <wsdl:part name="parameters" element="tns:seance-inconnue"/>
    </wsdl:message>
    <wsdl:message name="annuler">
        <wsdl:part name="parameters" element="tns:annuler-reservation"/>
    </wsdl:message>
    <wsdl:message name="annulerResponse">
        <wsdl:part name="parameters" element="tns:reservation-annulee"/>
    </wsdl:message>
    <wsdl:message name="reservationInconnue">
        <wsdl:part name="parameters" element="tns:reservation-inconnue"/>
    </wsdl:message>
    <wsdl:portType name="ReservationService">
        <wsdl:operation name="reserver">
            <wsdl:input message="tns:reserver" name="reserver"/>
            <wsdl:output message="tns:reserverResponse" name="reserverResponse"/>
            <wsdl:fault name="seanceComplete" message="tns:seanceComplete"/>
            <wsdl:fault name="seanceInconnue" message="tns:seanceInconnue"/>
        </wsdl:operation>
        <wsdl:operation name="annuler">
            <wsdl:input message="tns:annuler" name="annuler"/>
            <wsdl:output message="tns:annulerResponse" name="annulerResponse"/>
            <wsdl:fault name="reservationInconnue" message="tns:reservationInconnue"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReservationServiceSoapBinding" type="tns:ReservationService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="reserver">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="reserver">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="reserverResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="seanceInconnue">
                <soap:fault name="seanceInconnue" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="seanceComplete">
                <soap:fault name="seanceComplete" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="annuler">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="annuler">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="annulerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="reservationInconnue">
                <soap:fault name="reservationInconnue" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ResrvationService">
        <wsdl:port binding="tns:ReservationServiceSoapBinding" name="ReservationServicePort">
            <soap:address location="http://localhost:8080/services/reservation"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
